@font-face {
    font-family: 'Nanum Barun Gothic1';
    font-style: normal;
    font-weight: 300;
    src: url('../../../../../fonts/NanumBarunGothic/NanumBarunGothic.eot');
    src: url('../../../../../fonts/NanumBarunGothic/NanumBarunGothic.woff') format('woff'),
         url('../../../../../fonts/NanumBarunGothic/NanumBarunGothic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Nanum Barun Gothic2';
    font-style: normal;
    font-weight: 700;
    src: url('../../../../../fonts/NanumBarunGothic/NanumBarunGothicBold.eot');
    src: url('../../../../../fonts/NanumBarunGothic/NanumBarunGothicBold.woff') format('woff'),
         url('../../../../../fonts/NanumBarunGothic/NanumBarunGothicBold.ttf') format('truetype');
  }

@font-face {
    font-family: 'Nanum Gothic1';
    font-style: normal;
    font-weight: 300;
    src: url('../../../../../fonts/NanumGothic/NanumGothic-Regular.eot');
    src: url('../../../../../fonts/NanumGothic/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../../../../fonts/NanumGothic/NanumGothic-Regular.woff2') format('woff2'),
         url('../../../../../fonts/NanumGothic/NanumGothic-Regular.woff') format('woff'),
         url('../../../../../fonts/NanumGothic/NanumGothic-Regular.ttf') format('truetype');
  }

@font-face {
    font-family: 'Nanum Gothic2';
    font-style: normal;
    font-weight: 700;
    src: url('../../../../../fonts/NanumGothic/NanumGothic-Bold.eot');
    src: url('../../../../../fonts/NanumGothic/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../../../../fonts/NanumGothic/NanumGothic-Bold.woff2') format('woff2'),
         url('../../../../../fonts/NanumGothic/NanumGothic-Bold.woff') format('woff'),
         url('../../../../../fonts/NanumGothic/NanumGothic-Bold.ttf') format('truetype');
  }

@font-face {
    font-family: 'Nanum Gothic3';
    font-style: normal;
    font-weight: 800;
    src: url('../../../../../fonts/NanumGothic/NanumGothic-ExtraBold.eot');
    src: url('../../../../../fonts/NanumGothic/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../../../../../fonts/NanumGothic/NanumGothic-ExtraBold.woff2') format('woff2'),
         url('../../../../../fonts/NanumGothic/NanumGothic-ExtraBold.woff') format('woff'),
         url('../../../../../fonts/NanumGothic/NanumGothic-ExtraBold.ttf') format('truetype');
  }

.text {
    font-family: 'Nanum Gothic1';
}

.text2 {
    font-family: 'Nanum Gothic2';
}

.textb {
    font-family: 'Nanum Barun Gothic1';
  }
  
  .textb2 {
    font-family: 'Nanum Barun Gothic2';
  }

.link {
    color: white;
    text-decoration: none;
    font-family:'Nanum Gothic1';
}

.link:hover {
    color: black;
    text-decoration: none;
}

.box{
    border-bottom: 0.1px solid #005bab;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.smallbox{
    background-color: #7ca3cf;
    float: left;
    display: inline-block;
    text-align: center;
    width: 33.3%;
    height: 50px;
    font-size: 20px;
    padding-top: 10px;
}
.smallbox:hover{
    background-color: #005bab;
}

.box2{
    width: 100%;
    float: left;
    margin-bottom: 50px;
}

.card{
    width: 30%;
    margin-top: 10px;
    margin-left: 1.1%;
    margin-right: 1.1%;
    margin-bottom: 10px;
    float: left;
    border: 0.1px solid #DCDCDC;
}