.appbar{
    float: left;
}

.toolbar{
    width: 100%;
    border-top: 0.5px solid #dcdcdc;
    border-bottom: 0.5px solid #dcdcdc;
}

.navbar{
    margin-left: 50px;
    margin-right: 50px;
    width: 1250px;
}

@media only screen and (min-width:1350px)
{
    .navbar{
        margin-left: calc((100vw - 1250px) / 2);
        margin-right: calc((100vw - 1250px) / 2);       
    }
}

/* ul {
    list-style:none;
    text-align: center;
}

ul li {
    list-style-type: none;
    outline: 1px dotted red;
    display: inline-block;
    margin: 100px;
}

p {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
} */

/* <div className='toolbar'>
                    <div className='navbar'>
                    <Typography style={{color: 'black'}} variant="h3" noWrap>
                        GUHARI SERVICE
                    </Typography>
                    <ul>
                        <li><a href="http://localhost:3000">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a> <br/> <a>aa</a></li>
                        <li><a href="localhost:3000">bb</a> <br/> <a>bb</a></li>
                        <li><a href="localhost:3000">cc</a> <br/> <a>cc</a></li>
                        <li><a href="localhost:3000">dd</a> <br/> <a>dd</a></li>
                    </ul>
                    </div>
                </div> */