@font-face {
    font-family: 'Nanum Gothic1';
    font-style: normal;
    font-weight: 300;
    src: url('../../../../fonts/NanumGothic/NanumGothic-Regular.eot');
    src: url('../../../../fonts/NanumGothic/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../../../fonts/NanumGothic/NanumGothic-Regular.woff2') format('woff2'),
         url('../../../../fonts/NanumGothic/NanumGothic-Regular.woff') format('woff'),
         url('../../../../fonts/NanumGothic/NanumGothic-Regular.ttf') format('truetype');
  }

@font-face {
    font-family: 'Nanum Gothic2';
    font-style: normal;
    font-weight: 700;
    src: url('../../../../fonts/NanumGothic/NanumGothic-Bold.eot');
    src: url('../../../../fonts/NanumGothic/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../../../fonts/NanumGothic/NanumGothic-Bold.woff2') format('woff2'),
         url('../../../../fonts/NanumGothic/NanumGothic-Bold.woff') format('woff'),
         url('../../../../fonts/NanumGothic/NanumGothic-Bold.ttf') format('truetype');
  }

@font-face {
    font-family: 'Nanum Gothic3';
    font-style: normal;
    font-weight: 800;
    src: url('../../../../fonts/NanumGothic/NanumGothic-ExtraBold.eot');
    src: url('../../../../fonts/NanumGothic/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../../../../fonts/NanumGothic/NanumGothic-ExtraBold.woff2') format('woff2'),
         url('../../../../fonts/NanumGothic/NanumGothic-ExtraBold.woff') format('woff'),
         url('../../../../fonts/NanumGothic/NanumGothic-ExtraBold.ttf') format('truetype');
  }

.text {
    font-family: 'Nanum Gothic1';
}

.text2 {
    font-family: 'Nanum Gothic2';
}

.link {
    color: white;
    text-decoration: none;
    font-family:'Nanum Gothic1';
}

.link:hover {
    color: black;
    text-decoration: none;
}

.box{
    border-bottom: 0.1px solid #DCDCDC;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.smallbox{
    background-color: #7ca3cf;
    float: left;
    display: inline-block;
    text-align: center;
    width: 50%;
    height: 50px;
    font-size: 20px;
    padding-top: 10px;
}
.smallbox:hover{
    background-color: #005bab;
}

.table{
    width: 100%;
    float: left;
    border-top: 0.1px solid #DCDCDC;
    border-left: 0.1px solid #DCDCDC;
    margin-bottom: 50px;
  }
  
  .td{
    font-size: 18px;
    width: 25%;
    text-align: center;
    border-bottom: 0.1px solid #DCDCDC;
    border-right: 0.1px solid #DCDCDC;
  }