@font-face {
  font-family: 'Nanum Barun Gothic1';
  font-style: normal;
  font-weight: 300;
  src: url('../../../fonts/NanumBarunGothic/NanumBarunGothic.eot');
  src: url('../../../fonts/NanumBarunGothic/NanumBarunGothic.woff') format('woff'),
       url('../../../fonts/NanumBarunGothic/NanumBarunGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic2';
  font-style: normal;
  font-weight: 700;
  src: url('../../../fonts/NanumBarunGothic/NanumBarunGothicBold.eot');
  src: url('../../../fonts/NanumBarunGothic/NanumBarunGothicBold.woff') format('woff'),
       url('../../../fonts/NanumBarunGothic/NanumBarunGothicBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic1';
    font-style: normal;
    font-weight: 300;
    src: url('../../../fonts/NanumGothic/NanumGothic-Regular.eot');
    src: url('../../../fonts/NanumGothic/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/NanumGothic/NanumGothic-Regular.woff2') format('woff2'),
         url('../../../fonts/NanumGothic/NanumGothic-Regular.woff') format('woff'),
         url('../../../fonts/NanumGothic/NanumGothic-Regular.ttf') format('truetype');
  }

@font-face {
    font-family: 'Nanum Gothic2';
    font-style: normal;
    font-weight: 700;
    src: url('../../../fonts/NanumGothic/NanumGothic-Bold.eot');
    src: url('../../../fonts/NanumGothic/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/NanumGothic/NanumGothic-Bold.woff2') format('woff2'),
         url('../../../fonts/NanumGothic/NanumGothic-Bold.woff') format('woff'),
         url('../../../fonts/NanumGothic/NanumGothic-Bold.ttf') format('truetype');
  }

@font-face {
    font-family: 'Nanum Gothic3';
    font-style: normal;
    font-weight: 800;
    src: url('../../../fonts/NanumGothic/NanumGothic-ExtraBold.eot');
    src: url('../../../fonts/NanumGothic/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/NanumGothic/NanumGothic-ExtraBold.woff2') format('woff2'),
         url('../../../fonts/NanumGothic/NanumGothic-ExtraBold.woff') format('woff'),
         url('../../../fonts/NanumGothic/NanumGothic-ExtraBold.ttf') format('truetype');
  }

.wrapper{
    width: 100%;
    float: left;
}

.content{
  margin-left: 50px;
  margin-right: 50px;
  width: 1250px;
}

@media only screen and (min-width:1350px)
{
  .content{
      margin-left: calc((100vw - 1250px) / 2);
      margin-right: calc((100vw - 1250px) / 2);       
  }
}


.text {
  font-family: 'Nanum Gothic1';
}

.text2 {
  font-family: 'Nanum Gothic2';
}

.textb {
  font-family: 'Nanum Barun Gothic1';
}

.textb2 {
  font-family: 'Nanum Barun Gothic2';
}

.link {
  color: white;
  text-decoration: none;
  height: 100%;
}

.link:hover {
  color: #005bab;
  text-decoration: none;
}

.blankbox{

}

@media only screen and (max-width: 600px)
{
  .blankbox{
    display: none;
  }
}