@font-face { font-family: 'NanumGothic'; src: url('../../fonts/NanumGothic.ttf') format('truetype'); }
@font-face { font-family: 'NanumSquare'; src: url('../../fonts/NanumSquare_acB.ttf') format('truetype'); }

.appbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
}

.toolbar{
    border-bottom: 0.5px solid #dcdcdc;
}

.navbar{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.typography{
    color: black;
    text-align: center;
}

.smallmenu{

}

button{
    font-size: 65px;
}